<!DOCTYPE html> 
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="/city-inside/styles/footer.css">
        <link rel="icon" href="/city-inside/images/favico.png" type="image/png">
        <title>Город внутри тебя</title>
    </head>
    <body class="body">
      <footer class="footer">
        <div class="footer__border">
            <span class="footer__title">// Об авторах</span>
            <div class="footer__flex">
                <p class="footer__text">
                    Этот проект создан как исследование связи между камнем и душой. 
                    Мы верим, что понимание архитектурного кода города помогает человеку 
                    лучше понимать себя. Санкт-Петербург — это не только история, 
                    это живой резонанс ваших чувств.
                </p>
                <div class="authors">
                    <div class="authors__element">
                        <p class="authors__job">Текст и фото:</p>
                        <p class="authors__name">Абросимова М.</p>
                    </div>
                    <div class="authors__element">
                        <p class="authors__job">Дизайн и концепция:</p>
                        <p class="authors__name">Пакалева Я.С.</p>
                    </div>
                    <div class="authors__element">
                        <p class="authors__job">Программный код:</p>
                        <p class="authors__name">Кравцова Е.В.</p>
                    </div>
                </div>
        </div>
        </div>
        <p class="footer__copy">Проект выполнен в учебных целях // Санкт-Петербург // 2026</p>
      </footer>
    </body>
</html>