<!DOCTYPE html> 
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="/city-inside/styles/header.css">
        <link rel="icon" href="/city-inside/images/favico.png" type="image/png">
        <title>Город внутри тебя</title>
    </head>
    <body class="body">
      <header class="header">
        <a href="/city-inside/index.html" class="header__title">Архитектура чувств</a>
        <nav class="menu">
            <a href="/city-inside/emotion.html?page=happy" class="menu__link">Радость</a>
            <a href="/city-inside/emotion.html?page=calm" class="menu__link">Спокойствие</a>
            <a href="/city-inside/emotion.html?page=mystery" class="menu__link">Тайна</a>
            <a href="/city-inside/emotion.html?page=ambition" class="menu__link">Стремление</a>
        </nav>
      </header>
    </body>
</html>